{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Смена пароля{% endblock title %}

{% block content %}
    <h1>Смена пароля</h1>
    <p>
    В целях безопасности введите свой старый пароль, а затем введите дважды новый пароль, чтобы мы могли убедиться, что вы его ввели правильно.
    </p>
    <form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Изменить пароль">
    </form>
{% endblock content %}